html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
}

#fullpage {
  position: relative;
  top: 0px;
  z-index: 9;
  width: 100%;
  height: 100%;
}

.quick {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100000;
}

.quick li {
  width: 10px;
  height: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  border: 2px solid #000;
  cursor: pointer;
}

.quick .on {
  background-color: #000;
}

.fullsection {
  position: relative;
  width: 100%;
  height: 100%;
}

#fullpage span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 5vw;
  font-size: 2rem;
  font-weight: bold;
}

#fullpage span:not(#full4 span){
  width: 100%;
}

.full2, .full3 {
    background-color: #bedeff;
  }


ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.skills {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  width: 90%
}

.skills li {
  font-size: 2rem;
  width: 80%;
}

.skills li ul:not(#web-block){
  margin-top: 2rem;
}

.skills #web-title {
  font-size: 0.7em;
  font-weight: 300;
  position: relative;
  margin: 8 0px;
  color: rgb(94, 94, 94);
}

.skill-title:before,
.skill-title:after {
  content: ' ';
  display: table;
}

.skill-title:after {
  clear: both;
}

.skill-title h6 {
  position: relative;
  float: left;
  margin: 0 0 4px;
}

.skill-value {
  font-size: 12px;
  line-height: 1.1em;
  position: relative;
  float: right;
  margin: 0 0 4px;
  color: #aaa;
}

.skill-container {
  position: relative;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #3499ff;
  border-radius: 8px;
  box-sizing: border-box;
  height: 12px;
  margin-bottom: 2rem;
}

.skill-percentage {
  position: absolute;
  left:2px;
  background-color: #bedeff;
  border: 2px solid #fff;
  border-radius: 9px;
  box-sizing: border-box;
  height: 10px;
  padding: 0;
}
.skill-percentage.skill-90 {
  width: 90%;
}

.skill-percentage.skill-80 {
  width: 80%;
}

.skill-percentage.skill-75 {
  width: 75%;
}

.skill-percentage.skill-70 {
  width: 70%;
}

.skill-percentage.skill-60 {
  width: 60%;
}

.skill-percentage.skill-50 {
  width: 50%;
}

.pf {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  width: 90%;
}

.pf div {
  margin: 0 5vmin;
  width: 600px;
}

.pf #first-ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.pf div ul li {
  font-size: 1.7rem;
  font-weight: 400;
}

.pf img {
  margin-top: 1rem;
  border-radius: 5%;
  box-shadow: 0 0 0 3px black inset;
  border: 3px solid black;
}

.pf div #desc li {
  font-size: 1.2rem;
  font-weight: 400;
    
}

a {
  text-decoration: none;
}

.contact-1 {
  display: flex;
  width: 450px;
  font-size: 1.3rem;

}

.contact-2 li {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.contact-2 img {
  margin-right: 2rem;
}